*.pyc
*.log
__pycache__/
migrations
migrations/

concessionnaire/__pycache__/ marque/__pycache__/ utilisateurs/__pycache__/ voiture/__pycache__/
marque/migrations utilisateurs/migrations voiture/migrations
.env
.vscode
AdminLTE-master
