{% extends "base.html" %}

{% block title %}Edit your account{% endblock %}

{% block content %}
	<h1 class="fs-3 fw-bolder text-center">Edit your account</h1>
	<hr class="offset-md-4 offset-3 border-2 text-primary col-6 col-md-4  rounded-pill" style="height: 3px;">
	<div class="offset-md-2 offset-sm-2">
		<form method="post" class="offset-md-1 row col-md-8 col-sm-8 col px-3 shadow pt-3 mx-2 mx-md-5" enctype="multipart/form-data">
		{{ user_form.as_p }}
		{{ profile_form.as_p }}
		{% csrf_token %}
		<input class="btn btn-primary col-6 col-md-8 offset-md-2 offset-3 mb-3" type="submit" value="Save changes">
		</form>
	</div>
{% endblock %}
