{% extends "base.html" %}

{% block title %}Changer son mot de passe{% endblock %}

{% block content %}
	<h1 class="fs-3 fw-bolder">Changer son mot de passe</h1>
	<hr class="offset-md-4 offset-3 border-2 text-primary col-6 col-md-4  rounded-pill" style="height: 3px;">
	<div class="offset-md-2">
		<form method="post" class="offset-md-1 row col-md-8 col-sm-6 col px-3 shadow pt-3 mx-2 mx-md-5" enctype="multipart/form-data">
			{% for field in form %}
				<div class="mb-3">
					{{ field.errors }}
					<label class="form-label">{{ field.label }}</label>
					{{ field }}
				</div>				
			{% endfor %}
			<input class="btn btn-primary" type="submit" value="Change">
			{% csrf_token %}
		</form>
	</div>
{% endblock %} 