{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
	<h1 class="fs-3 fw-bolder">Reset your password</h1>
	{% if validlink %}
		<p>Please enter your new password twice:</p>
		<div class="offset-3">
			<form method="post" class="row col-md-6 px-3" enctype="multipart/form-data">
				{% for field in form %}
					<div class="mb-3">
						{{ field.errors }}
						<label class="form-label">{{ field.label }}</label>
						{{ field }}
					</div>				
				{% endfor %}
				<input class="btn btn-primary" type="submit" value="Change your password">
				{% csrf_token %}
			</form>
		</div>
	{% else %}
		<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
	{% endif %}
{% endblock %}