{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
	<h1 class="fs-3 fw-bolder">Forgotten your password?</h1>
	<p>Enter your e-mail address to obtain a new password.</p>
	<div class="offset-3">
		<form method="post" class="row col-md-6 px-3" enctype="multipart/form-data">
			{% for field in form %}
				<div class="mb-3">
					{{ field.errors }}
					<label class="form-label">{{ field.label }}</label>
					{{ field }}
				</div>				
			{% endfor %}
			<input class="btn btn-primary" type="submit" value="Send e-mail">
			{% csrf_token %}
		</form>
	</div>
{% endblock %}