{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
	<div class="mt-3 mx-3">
		<h1 class="text-center fs-3 fw-bolder">Create an account</h1>
		<p class="">Please, sign up using the following form:</p>
		<div class="offset-3">
			<form method="post" class="row col-md-6 px-3" enctype="multipart/form-data">
				{% for field in form %}
					<div class="mb-3">
						{{ field.errors }}
						<label class="form-label">{{ field.label }}</label>
						{{ field }}
					</div>				
				{% endfor %}
				<input class="btn btn-primary" type="submit" value="Create my account">
				{% csrf_token %}
			</form>
		</div>
	</div>
{% endblock %}