{% extends "base.html" %}

{% block title %}Creer son compte{% endblock %}

{% block content %}
	<div class="mt-3 mx-3">
		<h1 class="text-center fs-3 fw-bolder">Créer son compte</h1>
		<hr class="offset-md-4 offset-3 border-2 text-primary col-6 col-md-4  rounded-pill" style="height: 3px;">
		<div class="offset-md-2">
			<form method="post" class="offset-md-1 row col-md-8 col-sm-6 col px-3 shadow pt-3 mx-2 mx-md-5" enctype="multipart/form-data">
				{% for field in form %}
					<div class="mb-3">
						<label class="form-label">{{ field.label }}</label>
						{{ field }}
						<small id="{{ field.label }}" class="form-text text-muted invalid-feedback"></small>
					</div>				
				{% endfor %}
				<input class="btn btn-primary mb-3 col-md-8 offset-md-2" type="submit" value="Creer son compte" id="submitbtn">
				<p class="form-text">Vous disposez déjà d'un compte ? Cliquer ici pour <a class="text-decoration-none" href="{% url "utilisateurs:login" %}">vous connecter</a></p>
				{% csrf_token %}
			</form>
		</div>
	</div>
{% endblock %}