<div class="">
<nav class="navbar navbar-expand-md navbar-light bg-light mb-3">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">ALPHA_ONE</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Accueil</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>

					<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
						{% for marque in marques %}
							<li>
								<a class="dropdown-item" href=" {% url 'marque:detail' marque.pk %} ">{{ marque.name }}</a>
							</li>
							<li><hr class="dropdown-divider"></li>
						{% endfor %}
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Voitures</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">A Propos</a>
				</li>
			</ul>			
		</div>
		<div class="d-flex ">
			{% if user.is_authenticated %}
	            <li class="list-unstyled"><i class="bi bi-person-fill"></i>{{user.username}}</li> &nbsp;&nbsp;
			    <li class="list-unstyled"><a href="{% url 'utilisateurs:logout' %}">Logout</a></li>
			{% else %}
				<li class="list-unstyled"><a href="{% url 'utilisateurs:login' %}">Login/a></li>
				<li class="list-unstyled">Inconu</li>
			{% endif %}
		</div>
		</div>
	</div>
</nav>
</div>