{% extends 'base.html' %}

{% block title %}Marque{% endblock %}

{% block content %}
<div class="row mx-3">

	<div class=" col-md-3 mb-3 justify-content-center">
		<ul class="list-group">
		    {% for marque in marques %}
		    	<li class="list-group-item"> <a href=" {% url 'marque:detail' marque.pk %} " class="text-decoration-none">{{ marque.name }} </a> </li>
		    {% endfor %}
		</ul>
	</div> 
	<div class="col-md-9 mb-3">
		<div class="row text-center fw-bolder fs-1"> {{ marque_voiture.name }} </div>
		<div class="row">
		{% for voiture in voitures %}
			<div class="col-md-4 mb-3 d-flex">
				<div class="card h-100 px-2">
				  <img src=" {{ voiture.image.url }} " class="card-img-top" alt="...">
				  <div class="card-body d-flex flex-column">
				  	<div class="mt-auto mx-auto">
					    <h5 class="card-title"> {{ voiture.marque }} {{ voiture.name }} </h5>
					    <a href=" {% url 'voiture:detail' voiture.pk %} " class="btn btn-primary offset-3">Plus</a>
				    </div>
				  </div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
</div>

{% endblock content %}