{% extends 'base.html' %}

{% block title %}Voiture ajouter{% endblock %}

{% block content %}
<div class="mt-3 mx-3">
	<h1 class="text-center fs-3 fw-bolder">Ajouter une voiture</h1>
	<hr class="offset-md-4 offset-3 border-2 text-primary col-6 col-md-4  rounded-pill" style="height: 3px;">
	<div class="offset-md-2">
		<form method="post" class="offset-md-1 row col-md-8 col-sm-6 col px-3 shadow pt-3 mx-2 mx-md-5" enctype="multipart/form-data">
			{% csrf_token %}
			{% for field in form %}
			<div class="mb-3">
				<label class="form-label">{{ field.label }}</label>
				{{ field }}
			</div>
			{% endfor %}
			<input type="submit" class="btn btn-primary col-6 col-md-8 offset-md-2 offset-3 mb-3" value="Ajouter Voiture">
		</form>
	</div>
</div>
{% endblock content %}