{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="mx-3">
	<div class="row ">
		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
		    <div class="carousel-inner">
		        <div class="carousel-item active height-25r">
		            <img src="{% static "images/carousel-1.jpg"%}" class="d-block w-100" alt="...">
		        </div>
			    <div class="carousel-item height-25r">
			        <img src="{% static "images/carousel-2.jpg"%}" class="d-block w-100" alt="...">
			    </div>
			    <div class="carousel-item height-25r">
			        <img src="{% static "images/carousel-3.jpg"%}" class="d-block w-100" alt="...">
			    </div>
		    </div>
		    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
		    	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    	<span class="visually-hidden">Previous</span>
		    </button>
		    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
		    	<span class="carousel-control-next-icon" aria-hidden="true"></span>
		    	<span class="visually-hidden">Next</span>
		    </button>
		</div>
	</div>

	carousel with cards article
	<div class="row">
		{% for voiture in voitures %}
			<div class="col-md-4 mb-3">
				<div class="card h-100 px-2" style="width: 18rem;">
				  <img src=" {{ voiture.image.url }} " class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title"> {{ voiture.marque }} {{ voiture.name }} </h5>
				    <a href="#" class="btn btn-primary">Voir plus</a>
				  </div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div id="myCarousel" class="carousel slide container" data-bs-ride="carousel">
    <div class="carousel-inner w-100">
        <div class="carousel-item active">
            <div class="col-md-3">
                <div class="card card-body">
                    <img class="img-fluid" src="https://via.placeholder.com/640x360?text=1">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="col-md-3">
                <div class="card card-body">
                    <img class="img-fluid" src="https://via.placeholder.com/640x360?text=2">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="col-md-3">
                <div class="card card-body">
                    <img class="img-fluid" src="https://via.placeholder.com/640x360?text=3">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="col-md-3">
                <div class="card card-body">
                    <img class="img-fluid" src="https://via.placeholder.com/640x360?text=4">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="col-md-3">
                <div class="card card-body">
                    <img class="img-fluid" src="https://via.placeholder.com/640x360?text=5">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="col-md-3">
                <div class="card card-body">
                    <img class="img-fluid" src="https://via.placeholder.com/640x360?text=6">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="col-md-3">
                <div class="card card-body">
                    <img class="img-fluid" src="https://via.placeholder.com/640x360?text=7">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="col-md-3">
                <div class="card card-body">
                    <img class="img-fluid" src="https://via.placeholder.com/640x360?text=8">
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</div>
{% endblock content %}