{% extends 'base.html' %}

{% load static %}

{% block title %}Bienvenue{% endblock %}

{% block content %}
<div class="mx-3">
	<div class="row ">
		<div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
		    <div class="carousel-inner">
		        <div class="carousel-item active height-25r">
		            <img src="{% static "images/carousel-1.jpg"%}" class="img-fluid d-block w-100" alt="...">

		            <div class="carousel-caption d-none d-md-block text-wite">
				        <h5>Le pouvoir de la vitesse</h5>
				        <p>Quand on ne sait pas où on va, la vitesse du déplacement ne compte plus.
						</p>
				    </div>
		        </div>
			    <div class="carousel-item height-25r">
			        <img src="{% static "images/carousel-2.jpg"%}" class="img-fluid d-block w-100" alt="...">

			        <div class="carousel-caption d-none d-md-block text-wite">
				        <h5>Profitez de la vie avec la Lamborghini urus</h5>
				        <p>Idéalement nous sommes ce que nous pensons. Dans la réalité, nous sommes ce que nous accomplissons.</p>
				    </div>
			    </div>
			    <div class="carousel-item height-25r">
			        <img src="{% static "images/carousel-3.jpg"%}" class="img-fluid d-block w-100" alt="...">

			        <div class="carousel-caption d-none d-md-block text-wite">
				        <h5>Le luxe, c'est la liberte</h5>
				        <p>La vitesse est la forme d'extase dont la révolution technique a fait cadeau à l'homme.</p>
				    </div>
			    </div>
		    </div>
		    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
		    	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    	<span class="visually-hidden">Previous</span>
		    </button>
		    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
		    	<span class="carousel-control-next-icon" aria-hidden="true"></span>
		    	<span class="visually-hidden">Next</span>
		    </button>
		</div>
	</div>

	<div class="row mx-auto mt-5 bg-light bg-opacity-25">
        <div class="col-6 col-md-3 col-sm-6 border fw-bolder">
			<a href="#" class="text-decoration-none text-dark fw-bolder">
				<div class="py-5 text-center"><span class="rounded-circle border border-dark p-4"><i class="bi bi-wrench-adjustable fs-3 text-primary"></span></i></div>
				<div class="pb-2 text-center">Construire & Prix</div>
			</a>
    	</div>
    	<div class="col-6 col-md-3 col-sm-6 border fw-bolder">
			<a href=" {% url 'concession' %} " class="text-decoration-none text-dark fw-bolder">
				<div class="py-5 text-center"><span class="rounded-circle border border-dark p-4"><i class="bi bi-shop fs-3 text-primary"></i></span></div>
				<div class="pb-2 text-center">? une concession</div>
			</a>
    	</div>
    	<div class="col-6 col-md-3 col-sm-6 border fw-bolder">
			<a href=" {% url 'voiture:search' %} " class="text-decoration-none text-dark fw-bolder">
				<div class="py-5 text-center"><span class="rounded-circle border border-dark p-4"><i class="bi bi-search fs-3 text-primary"></i></span></div>
				<div class="pb-2 text-center">Rechercher</div>
			</a>
    	</div>
    	<div class="col-6 col-md-3 col-sm-6 border fw-bolder">
			<a href=" {% url 'assistance' %} " class="text-decoration-none text-dark fw-bolder">
				<div class="py-5 text-center"><span class="rounded-circle border border-dark p-4"><i class=" bi bi-person-badge fs-3 text-primary text-center"></i></span></div>
				<div class="pb-2 text-center">
					Assistance
				</div>
			</a>
    	</div>
    </div>

    <div class="row my-4">
    	<h2 class="text-center fs-2 fw-normal">LE POUVOIR D’ATTRACTION</h2>
    	<p class="col-8 offset-2 fw-600">
			Une allure féline qui se distingue au premier regard.&nbsp;
			Une expérience de conduite sans cesse renouvelée.&nbsp;
			Notre conncession ALPHA_ONE séduit année après année par le raffinement de son espace intérieur et l’élégance de ses lignes extérieures.&nbsp;
		</p> 
    </div>
	
	<div class="row">
		{% for voiture in voitures %}
			<div class="col-md-4">
				<div class="card card-body h-100 p-0 rounded-3">
				  	<img src=" {{ voiture.image.url }} " class="img-fluid rounded-3 h-100" alt="...">
				  	<div class="carousel-caption d-block">
					    <h5 class="card-title"> {{ voiture.marque }} {{ voiture.name }} </h5>
					    <a href=" {% url 'voiture:detail' voiture.pk %} " class="text-decoration-none fw-bolder">Voir plus <i class="bi bi-arrow-right-circle"></i></a>
				    </div>
				</div>
			</div>
		{% endfor %}
		<div class="offset-5 col-md-3 mt-2">
			<a href=" {% url 'voiture:list' %} " class="btn btn-light rounded-pill fw-bolder">Explorer tous les vehicules</a>
		</div>
	</div>
</div>
{% endblock content %}