{% extends 'base.html' %} {% block title %}Recherche{% endblock %} {% block content %}
<div class="row">
    <form method="post" class="offset-md-2 col-md-8 border" enctype="multipart/form-data">
        <div class="row form-group mb-3">
            <h3 class="fs-5 text-center">Rechercher une voiture</h3>
        </div>
        {% csrf_token %}
        <div class="row form-group d-flex justify-content-between mx-2 mb-3">
            <input type="search" class="form--control col-6" name="rechercher">
            <input type="submit" class="btn btn-primary offset-1 col-4" value="Rechercher">
        </div>
    </form>
</div>
<div class="offset-md-2 col-md-8 mt-5 px-2 resultat">
    {% for object in object_list %}
        <div class="row border my-2" style="height: 100px;">
            <a href=" {% url 'voiture:detail' object.pk %} " class="col-6 h-100 w-25 py-2 text-decoration-none"><img class="rounded-3" src="{{ object.image.url }}"></a>
                <a href=" {% url 'voiture:detail' object.pk %} " class="col-6 flex-row-reverse text-decoration-none text-dark"><p class="my-auto"> {{ object.marque }} {{ object.name }}  </p></a>
        </div>
    {% endfor %}
</div>
{% endblock content %}