{% extends 'base.html' %}

{% block title %}Voiture Modifier{% endblock %}

{% block content %}
	<h1 class="fs-3 fw-bolder text-center">Modifier les informations</h1>
	<div class="offset-3">
		<form method="post" class="row col-md-6 px-3" enctype="multipart/form-data">
			{% csrf_token %}
			{% for field in form %}
			<div class="mb-3">
				<label class="form-label">{{ field.label }}</label>
				{{ field }}
			</div>
			{% endfor %}
			<input type="submit" class="btn btn-primary" value="Modifier Voiture">
		</form>
	</div>
{% endblock content %}